@model IEnumerable<User_Story.Models.News>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">

            <div class="form-group">
                <label class="control-label">Topic</label>
                <input name="topic" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 @if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                Creator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    @if (User.IsInRole("Moderator") || (User.Identity.IsAuthenticated && User.Identity.Name.Equals(item.User.Login)))
                {
                    <p>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
